[Unit]
Description=AMBE Transcoder Daemon
After=systemd-user-sessions.service network.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/ambed
ExecStartPre=-/sbin/rmmod ftdi_sio
ExecStartPre=-/sbin/rmmod usb_serial
ExecStart=/usr/local/bin/ambed $IPADDR
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
